<<<<<<< HEAD
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h1>Blog Posts</h1>
<%= @posts.inspect%>

<h1>Skills</h1>
<%= @skills.inspect%>
=======
<h1>Homes Page</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= @posts.inspect %>
>>>>>>> 4979f1b3d61cdea0d03f413e623a3ee14ad33639
